.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1030;
}

body {
  padding-top: 80px;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
}

.nav-link {
  color: #333;
  margin-left: 15px;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: #5e3d4b;
  text-decoration: none;
}

@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }

  .nav-link {
    margin-left: 0;
  }
}
